.recipe_card {
    width: 300px;
    height: 445px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.6);
    padding-bottom: 10px;
    box-sizing: border-box;
    border-radius: 2px;
  }
  

  .recipe_img_container {
    width: 300px;
    height: 300px;
    margin-bottom: 9.75px;
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2px 2px 0px 0px;
  }
  
